<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0">
    <title>备忘录-{{path}}-新增</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/lib/alert/css/alert.css">
</head>
<body>
  <div id="app">
    <a href="/">
      <header>
          备忘录-{{path}}
      </header>
    </a>
     <main>
         <textarea id="content" class="note-content" name="name" rows="8" cols="40"></textarea>
     </main>
     <footer>
         <a class="note-save-file"><img src="/images/check.jpg" alt="" /></a>
     </footer>
 </div>
 <script src="/lib/jquery/jquery.min.js"></script>
 <script src="/lib/alert/js/alert.js"></script>
 <script type="text/javascript">
   $(function(){
     $(".note-save-file").click(function(){
       $.post("/notes/file/new",{path:"{{path}}",content:$("#content").val()},function(res){
         if(res.status == "y"){
           location.href = "/notes/file/{{path}}";
         }
         else{
           (new Alert("提示",res.msg)).show();
         }
       },"json")
     });
   })
 </script>
</body>
</html>
